/* Paleta */
:root {
    --c1: #D34E4E;
    --c2: #d55353;
    --c3: #CE7E5A;
    --c4: #DDC57A;
    --c5: #dacba0;
    --c6: #F9E7B2;
}

/* ========================= */
/* NAVBAR */
/* ========================= */
/* NAVBAR Moderno tipo App */
.pf-navbar {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.pf-navbar .navbar-brand strong {
    color: #d55353;
    font-weight: 800;
    font-size: 1.3rem;
}

.pf-navbar .nav-link {
    color: #555;
    font-weight: 500;
}

.pf-navbar .nav-link:hover,
.pf-navbar .active-link {
    color: #d34e4e !important;
}




/* Botón */
.btn-pf-primary {
    background: var(--c4);
    color: var(--c6);
    border-radius: 12px;
    padding: .45rem 1rem;
    transition: .2s;
}

.btn-pf-primary:hover {
    background: var(--c5);
    color: var(--c1);
}

/* Logo */
.pf-logo {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--c5);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

/* Dropdown */
.pf-dropdown {
    background: var(--c2);
    border: none;
}

.pf-dropdown .dropdown-item {
    color: var(--c6);
}

.pf-dropdown .dropdown-item:hover {
    background: var(--c3);
}

/* ========================= */
/* FOOTER */
/* ========================= */

.pf-footer {
    background: #1f1f1f;
    padding: 3rem 0;
}

.pf-footer h5 {
    color: #fff;
}

.pf-footer p,
.pf-footer-link,
.pf-footer li {
    color: #aaa;
}

.pf-footer-link:hover {
    color: #fff;
}


/* Generales */
body {
    background: var(--c6);
    margin-top: 70px;
    /* espacio por navbar fija */
    font-family: 'Inter', sans-serif;
}



/* */




